@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Jacques+Francois+Shadow&family=Josefin+Sans:wght@100;400&family=Open+Sans:wght@500&display=swap');

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  font-family: 'Josefin Sans', sans;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #e98604;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 15px;
  align-items: center;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: #5c4033;
  color: blanchedalmond;
  padding: 1em;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  background-image: url('stowe.jpg');
  background-size: cover;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
  background-color: white;
  width: 25vw;
  padding: 1em;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

li {
  padding: 0.2em;
}

button {
  color: white;
  background-color: firebrick;
  border: solid white 0.2em;
  border-radius: 1em;
  padding: 0.5em;
  font-family: 'Josefin Sans', sans;
}
